<div ng-controller="NavCtrl">
    <div class="center-align">
        <a class="contactLink" href="mailto:krnorris65@gmail.com" target="_blank">
            <img class="contactIcon" src="../../../img/greyEmail.png" alt="github" >
        </a>
        <a class="contactLink" href="https://github.com/krnorris65" target="_blank">
            <img class="contactIcon" src="../../../img/greyGithub.png" alt="github" >
        </a>
        <a class="contactLink" href="https://www.linkedin.com/in/krnorris65/" target="_blank">
            <img class="contactIcon SVG" src="../../../img/linkedIn.svg" alt="linkedIn">
        </a>
        <a class="contactLink" href="https://twitter.com/krnorris65" target="_blank">
            <img class="contactIcon SVG" src="../../../img/twitter.svg" alt="twitter">
        </a>
    </div>
</div>
