<footer class="teal">   
    <div class="center-align">
        <a class="contactLink" href="mailto:krnorris65@gmail.com" target="_blank">
            <img class="contactIcon" src="img/contact/greyEmail.png" alt="github" >
        </a>
        <a class="contactLink" href="https://github.com/krnorris65" target="_blank">
            <img class="contactIcon" src="img/contact/greyGitHub.png" alt="github" >
        </a>
        <a class="contactLink" href="https://www.linkedin.com/in/krnorris65/" target="_blank">
            <img class="contactIcon SVG" src="img/contact/greyLinkedIn.png" alt="linkedIn">
        </a>
        <a class="contactLink" href="https://twitter.com/krnorris65" target="_blank">
            <img class="contactIcon SVG" src="img/contact/greyTwitter.png" alt="twitter">
        </a>
    </div>
    <p id="copyright">&copy; Kristen Norris</p>
</footer>
