<nav ng-controller="NavCtrl" class="nav-wrapper hide-on-med-and-down teal">
    <div>
        <img id="flowerCircle" src="img/flowerCircle.png" alt="yellow rose">
        <a id="KNheader" href="#top" class="brand-logo">Kristen Norris</a>
        <ul class="right grey">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#tech">Technologies</a>
            </li>
        </ul>
        <div class="angled right grey">.</div>
    </div>

</nav>


<nav ng-controller="NavCtrl" class="nav-wrapper hide-on-large-only teal">
    <div id="mobileNav" class="nav-wrapper">
        <a id="KNheader" href="#!" class="left brand-logo">Kristen Norris</a>
        <a href="#tech">
            <i class="material-icons right icon-grey">settings</i>
        </a>
        <a href="#projects">
            <i class="material-icons right icon-grey">web</i>
        </a>
        <a href="#about">
            <i class="material-icons right icon-grey">person</i>
        </a>
    </div>
</nav>
