<div id="projects" class="section white">
    <div ng-controller="ProjectCtrl" class="row container pad">

        <h1>Projects</h1>

        <div class="row">
            <div class="col s12 m12 l6" ng-repeat="p in ProjectsArray">
                <h4 class="projectTitle"><a href={{p.Link}} target="_blank">{{p.Name}}</a></h4>
                <div class="card">
                    <div class="card-image">
                        <!-- if the project has a deployed link -->
                        <a ng-if="p.Link != undefined" href={{p.Link}} target="_blank"><img src={{p.Image}} alt={{p.AltText}}></a>
                        <!-- if the project doesn't have a deployed link -->
                        <a ng-if="p.Link == undefined" href={{p.GitHub}} target="_blank"><img src={{p.Image}} alt={{p.AltText}}></a>
                        <a class="btn-floating halfway-fab waves-effect waves-light teal" ng-click="projectDetails = !projectDetails"><i class="material-icons">expand_more</i></a>
                    </div>
                    <div ng-show="projectDetails" class="card-content projectDetails">
                        <p>{{p.Description}}</p>
                        <!-- don't show icon if there is no deployed link -->
                        <a ng-if="p.Link != undefined" href={{p.Link}} target="_blank">
                            <i class="material-icons projectWebsite">web</i>
                        </a>
                        <a href={{p.GitHub}} target="_blank">
                            <img class="projectGitHub" src="img/tech/github.png" alt="github">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>