<div id="about" class="section white">
    <div class="row container pad">
        <h1>About Me</h1>
        <div id="aboutImg">
            <img id="proImg" class="aboutImg left responsive-img" src="img/Kristen_Norris_pro.jpg" alt="professional photo">
            <img id="funImg" class="aboutImg left responsive-img" src="img/Kristen_Norris_fun.jpg" alt="cake photo">
        </div>
            <p>
            I first fell in love with Nashville back in 2009 when I visited for a total of 24 hours to see one of my favorite bands perform
            a private showcase. Even though I was only here for a very short amount of time, something about the city captured
            my attention and knew that one day I wanted to make this place my home.
        </p>
        <p>
            Little did I know that less than 3 years later, that dream would become a reality. I accepted a placement at Room In The
            Inn through the Jesuit Volunteer Corps, a full-time volunteer program that is centered around community, social
            justice, simple living, and spirituality. Nashville has been my home ever since.
        </p>
        <p>
            I've always had a passion for helping people and for creating things. However, I mostly kept these two passions separate: channeling my creative side into hobbies and my desire to help others into a career path. After spending several years working in various positions at non-profits, I started to feel like keeping my passions divided
            was preventing me from finding an ideal fit in my professional life so I began to explore ways that I could combine them. 
        </p>
        <p>
            After watching <a style="color:black; font-weight: bold; font-style: italic;" href="https://www.codedoc.co/" target="_blank">CODE: Debugging the Gender Gap</a>, a documentary about women in tech, I realized that coding could be the combination of my passions I was looking for. I took a few online classes and soon found myself leaving my non-profit job to enroll in the full-time Web Developer Bootcamp at Nashville Software School under the Apprentice Tuition.
        </p>
        <p>
            When I'm not coding, you can find usually find me baking cakes, rocking out to Hanson or hanging out with my community.
        </p>
    </div>
</div>
