<h1>About Me</h1>
<img id="aboutImg" class="left responsive-img" src="../../../img/kn/KNimage.jpg" alt="">
<p> 
    I first fell in love with Nashville back in 2009 when I visited for a total of 24 hours to see a beloved band perform a private showcase. Even though I was only here for a very short amount of time, something about the city captured my attention and  knew that one day I wanted to make this place my home.
</p>
<p>
    Little did I know that less than 3 years later, that dream would become a reality. I accepted a one-year placement at Room In The Inn through the Jesuit Volunteer Corps, a full-time volunteer program that is centered around community, social justice, simple living, and spirituality.
</p>
<p>
    After a lifetime of working in non-profits, I decided that I wanted to help people in a different way. Coding had always piqued my interest, but I thought that the barrier to learn was too great. That is until a friend of mine shared the documentary CODE: Debugging the Gender Gap and I started to see that making the transition into the coding world might not be as big as I thought. I did some research and soon found myself at Nashville Software School under Apprentice Tuition.
    
</p>