.projectTitle {
    margin-top: 0;
}
.projectTitle a{
    color:black;
}
.projectImg{
    width: 100%;
}

.projectGitHub{
    height:40px;
}

.projectWebsite{
    color: black;
    font-size: 40px;
}

.projectDetails{
    text-align: center;
}

.projectWebsite, .projectGitHub{
    margin: 10px 30px 0px 30px;
}

#projects .col{
    padding: .75rem;
}