nav .brand-logo{
    color: #fff59d;
}

.angled{
    clip-path: polygon(100% 0%, 0% 0%, 102% 100%);
    width: 30%;
}

.cornerImage{
    width: 150px;
    height: 150px;
    border: 5px solid teal;
    background-color: teal;
    margin-left: 5px;
}

#flowerCircle{
    width: 150px;
    margin-left: 5px;
}

.parallax-container {
    height: 300px;
}

.lifereel{
    width: 100%;
}

body{
    background-color: grey;
}

#aboutImg{
    width: 25%;
    padding: 10px;
}

.contactIcon{
    height: 35px;
    width: 35px;
    margin: 5px 20px 0px;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a, footer a:visited{
    color: black
}


