#techContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.techIcon{
    height: 75px;
}

.techName{
    visibility: hidden;
    margin-top: 0px;
}

.techDiv:hover .techName{
    visibility: initial;
}

@media only screen and (max-width: 375px) {
    .techIcon{
        height: 60px;
    }
}
